html,
body {
  margin: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
}

.grid div {
  width: 15px;
  height: 15px;
  background-color: blue;
}
